matrix:
  include:
    - os: osx
      rust: 1.12.0
      env: TARGET=x86_64-apple-darwin
    - os: linux
      dist: trusty
      rust: 1.12.0
      env: TARGET=x86_64-unknown-linux-gnu
sudo: required
notifications:
  irc:
    channels:
      - "chat.freenode.net#panopticon"
    on_success: change
    on_failure: always
language: rust
addons:
  apt:
    packages:
    # panopticon
    - cmake
    - qt5-default
    - qtdeclarative5-dev
    - libqt5qml-quickcontrols # not approved
    - qtbase5-private-dev
    - pkg-config
    - git
    - build-essential
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq install libqt5qml-quickcontrols; fi
script: |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export QTDIR64=`brew --prefix qt5`; fi &&
  cargo build --verbose &&
  cargo test --verbose
